In [1]:
import datetime as dt
from pytz import timezone
from skyfield import almanac
from skyfield.api import E, N, W, wgs84, load

# Set the timezone

In [2]:
# Figure out local midnight.
zone = timezone("Indian/Mahe")# Indian/Mahe
now = zone.localize(dt.datetime.now())
midnight = now.replace(hour=0, minute=0, second=0, microsecond=0)
next_midnight = midnight + dt.timedelta(days=1)

In [3]:
now

datetime.datetime(2021, 2, 11, 15, 55, 43, 136711, tzinfo=<DstTzInfo 'Indian/Mahe' +04+4:00:00 STD>)

# Set the location from which you want to observe

In [4]:
ts = load.timescale()
t0 = ts.from_datetime(midnight)
t1 = ts.from_datetime(next_midnight)
eph = load('de421.bsp')
bluffton = wgs84.latlon(27.3314 * N, 88.6138 * E)#Gangtok27.3314° N, 88.6138° E #bluffton40.8939 * N, 83.8917 * W
f = almanac.dark_twilight_day(eph, bluffton)
times, events = almanac.find_discrete(t0, t1, f)

## Display O/P

## Gangtok

In [5]:
for t, e in zip(times, events):
    tstr = str(t.astimezone(zone))[:16]
    print(tstr, ' ', almanac.TWILIGHTS[e], 'starts')

2021-02-11 03:26   Astronomical twilight starts
2021-02-11 03:54   Nautical twilight starts
2021-02-11 04:21   Civil twilight starts
2021-02-11 04:45   Day starts
2021-02-11 15:54   Civil twilight starts
2021-02-11 16:18   Nautical twilight starts
2021-02-11 16:45   Astronomical twilight starts
2021-02-11 17:13   Night starts

## Bluffton

In [30]:
for t, e in zip(times, events):
    tstr = str(t.astimezone(zone))[:16]
    print(tstr, ' ', almanac.TWILIGHTS[e], 'starts')

2021-02-11 03:26   Astronomical twilight starts
2021-02-11 03:54   Nautical twilight starts
2021-02-11 04:21   Civil twilight starts
2021-02-11 04:45   Day starts
2021-02-11 15:54   Civil twilight starts
2021-02-11 16:18   Nautical twilight starts
2021-02-11 16:45   Astronomical twilight starts
2021-02-11 17:13   Night starts

In [31]:
times

In [8]:
N

1.0

In [9]:
W

-1.0

In [10]:
eph=load('de421.bsp')

In [11]:
print(eph)

SPICE kernel file 'de421.bsp' has 15 segments
  JD 2414864.50 - JD 2471184.50  (1899-07-28 through 2053-10-08)
      0 -> 1    SOLAR SYSTEM BARYCENTER -> MERCURY BARYCENTER
      0 -> 2    SOLAR SYSTEM BARYCENTER -> VENUS BARYCENTER
      0 -> 3    SOLAR SYSTEM BARYCENTER -> EARTH BARYCENTER
      0 -> 4    SOLAR SYSTEM BARYCENTER -> MARS BARYCENTER
      0 -> 5    SOLAR SYSTEM BARYCENTER -> JUPITER BARYCENTER
      0 -> 6    SOLAR SYSTEM BARYCENTER -> SATURN BARYCENTER
      0 -> 7    SOLAR SYSTEM BARYCENTER -> URANUS BARYCENTER
      0 -> 8    SOLAR SYSTEM BARYCENTER -> NEPTUNE BARYCENTER
      0 -> 9    SOLAR SYSTEM BARYCENTER -> PLUTO BARYCENTER
      0 -> 10   SOLAR SYSTEM BARYCENTER -> SUN
      3 -> 301  EARTH BARYCENTER -> MOON
      3 -> 399  EARTH BARYCENTER -> EARTH
      1 -> 199  MERCURY BARYCENTER -> MERCURY
      2 -> 299  VENUS BARYCENTER -> VENUS
      4 -> 499  MARS BARYCENTER -> MARS

In [12]:
ts=load.timescale()
earth=eph['earth']
gangtok = earth+wgs84.latlon(27.3314 * N, 88.6138 * E)

In [13]:
t=ts.utc(2021, 1, 20, range(0, 24, 2))

In [14]:
print(gangtok.at(t).is_sunlit(eph))

[ True  True  True  True  True  True  True  True  True  True  True  True]

In [15]:
gg=gangtok

In [16]:
sun=eph['sun']
p=(gangtok).at(t).observe(sun).apparent()
sunlit=p.is_behind_earth()
sunlit

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [17]:
p.distance().km

array([1.47202359e+08, 1.47200618e+08, 1.47199504e+08, 1.47199574e+08,
       1.47201072e+08, 1.47203860e+08, 1.47207454e+08, 1.47211157e+08,
       1.47214244e+08, 1.47216156e+08, 1.47216648e+08, 1.47215861e+08])

In [18]:
p.t.utc_jpl()

['A.D. 2021-Jan-20 00:00:00.0000 UTC',
 'A.D. 2021-Jan-20 02:00:00.0000 UTC',
 'A.D. 2021-Jan-20 04:00:00.0000 UTC',
 'A.D. 2021-Jan-20 06:00:00.0000 UTC',
 'A.D. 2021-Jan-20 08:00:00.0000 UTC',
 'A.D. 2021-Jan-20 10:00:00.0000 UTC',
 'A.D. 2021-Jan-20 12:00:00.0000 UTC',
 'A.D. 2021-Jan-20 14:00:00.0000 UTC',
 'A.D. 2021-Jan-20 16:00:00.0000 UTC',
 'A.D. 2021-Jan-20 18:00:00.0000 UTC',
 'A.D. 2021-Jan-20 20:00:00.0000 UTC',
 'A.D. 2021-Jan-20 22:00:00.0000 UTC']

In [19]:
p.speed()

In [20]:
p[0].distance()

In [21]:
from skyfield.api import load, wgs84, Angle

In [22]:
ehp = load('de421.bsp')
ts = load.timescale()

In [23]:
t = ts.utc(1930,8,11,17,53,20)

In [24]:
earth = ehp['earth']
moon = ehp['moon']
g = earth + wgs84.latlon(27.3314, 88.6138 )

In [25]:
ast = g.at(t).observe(moon).apparent()
r,dec,dist = ast.radec()
print(r)
print(dec)
print(dist)

23h 08m 55.59s
-09deg 52' 55.9"
0.0026786 au

In [26]:
ast.ecliptic_latlon()

(<Angle -04deg 03' 46.7">, <Angle 344deg 24' 45.5">, <Distance 0.0026786 au>)

In [27]:
Angle(degrees=(r.hours*360)/24)

In [28]:
ast.altaz()

(<Angle 42deg 34' 23.5">, <Angle 138deg 20' 09.8">, <Distance 0.0026786 au>)

In [29]:
ts = load.timescale()
t=ts.now()
eph=load('de421.bsp')
earth=eph['earth']
gangtok = earth+wgs84.latlon(27.3314 * N, 88.6138 * E)