# Minor planet Distances

In [1]:
from skyfield.api import load, Angle
from skyfield.data import mpc
from skyfield.constants import GM_SUN_Pitjeva_2005_km3_s2 as GM_SUN
import pickle
import pandas as pd
import numpy as np

In [2]:
eph = load('de421.bsp')
sun, earth = eph['sun'], eph['earth']
ts= load.timescale()

In [13]:
time = ts.utc(2018,1,11,12,20)
e=earth.at(time)

# Ceres

In [3]:
with load.open('MPCORB.excerpt.DAT') as f:
    minor_planets = mpc.load_mpcorb_dataframe(f)

print(minor_planets.shape[0], 'minor planets loaded')

4 minor planets loaded

In [4]:
row_ceres=minor_planets.iloc[0]

In [5]:
t=ts.utc(2018,1,range(1,365*3+2),12,20)

In [12]:

ceres = sun + mpc.mpcorb_orbit(row_ceres, ts, GM_SUN)
ra, dec, distance = earth.at(t).observe(ceres).radec()
print(ra)
print(dec)
print(distance)

1096 values from 09h 28m 52.23s to 23h 06m 46.40s
1096 values from +26deg 23' 06.5" to -15deg 54' 26.5"
[1.71957871 1.71186367 1.70436454 ... 3.26704838 3.27918451 3.29124125] au

In [10]:
def see_ra(target):
    d = e.observe(target)
    ra, dec, dist = d.radec()
    r=ra.hours
    deg = r*360/24
    print(target.target_name, '  ra=', deg)

In [11]:
see_ra(ceres)

str   ra= 141.00195123255722

In [15]:
Angle(hours=ra.hours[0])

In [16]:
t[365*3].utc_jpl()

'A.D. 2020-Dec-31 12:20:00.0000 UTC'

In [17]:
ceres={'ra':ra, 'dec':dec , 'distance':distance, 'time_p':t}

In [18]:
file1 = open('ceres_dist_angle_18to20.pkl', 'ab')
pickle.dump(ceres, file1)

In [41]:
ra

In [44]:
ceres['time_p'][0].utc_jpl()

'A.D. 2021-Jan-01 00:00:00.0000 UTC'

# Chiron

In [56]:
c21 = pd.read_csv('Chiron_2021.csv',skiprows=[0,1])

In [57]:
c21= c21.drop(['Mag.','Unnamed: 11','Unnamed: 12'], axis=1)

In [58]:
c21.loc[364]

Year        2021
Month         12
Day           31
hour           0
min           27
sec           45
deg            5
min.1         21
sec.1          0
AU       18.8567
Name: 364, dtype: object

In [59]:
c21.shape

(503, 10)

In [60]:
c21= c21.drop(range(365,503))

In [61]:
c21=c21.rename(columns={'hour':'ra.hour', 'deg':'dec.deg'})

In [62]:
c21

     Year  Month   Day  ra.hour   min   sec  dec.deg  min.1  sec.1       AU
0    2021    1.0   1.0      0.0  14.0  28.0      4.0   20.0   19.0  18.9395
1    2021    1.0   2.0      0.0  14.0  32.0      4.0   20.0   29.0  18.9568
2    2021    1.0   3.0      0.0  14.0  35.0      4.0   20.0   40.0  18.9740
3    2021    1.0   4.0      0.0  14.0  39.0      4.0   20.0   53.0  18.9912
4    2021    1.0   5.0      0.0  14.0  44.0      4.0   21.0    7.0  19.0083
..    ...    ...   ...      ...   ...   ...      ...    ...    ...      ...
360  2021   12.0  27.0      0.0  27.0  36.0      5.0   20.0   54.0  18.7877
361  2021   12.0  28.0      0.0  27.0  38.0      5.0   20.0   53.0  18.8049
362  2021   12.0  29.0      0.0  27.0  40.0      5.0   20.0   54.0  18.8222
363  2021   12.0  30.0      0.0  27.0  42.0      5.0   20.0   57.0  18.8395
364  2021   12.0  31.0      0.0  27.0  45.0      5.0   21.0    0.0  18.8567

[365 rows x 10 columns]

In [38]:
s = (4*60*60 + 20*60 + 19)/(60*60)

In [39]:
s

4.338611111111111

In [106]:
sa=Angle(degrees=s)
sa.degrees

4.338611111111111

In [80]:
Angle.hms()

TypeError: hms() missing 1 required positional argument: 'self'

In [41]:
r = (0*60*60 + 14*60 + 28)/(60*60)
Angle(hours = r)

In [42]:
c21.dtypes

Year        object
Month      float64
Day        float64
ra.hour    float64
min        float64
sec        float64
dec.deg    float64
min.1      float64
sec.1      float64
AU         float64
dtype: object

In [65]:
c21.Year = c21.Year.astype(int)
c21.Month = c21.Month.astype(int)
c21.Day = c21.Day.astype(int)

In [66]:
c21

     Year  Month  Day  ra.hour   min   sec  dec.deg  min.1  sec.1       AU
0    2021      1    1      0.0  14.0  28.0      4.0   20.0   19.0  18.9395
1    2021      1    2      0.0  14.0  32.0      4.0   20.0   29.0  18.9568
2    2021      1    3      0.0  14.0  35.0      4.0   20.0   40.0  18.9740
3    2021      1    4      0.0  14.0  39.0      4.0   20.0   53.0  18.9912
4    2021      1    5      0.0  14.0  44.0      4.0   21.0    7.0  19.0083
..    ...    ...  ...      ...   ...   ...      ...    ...    ...      ...
360  2021     12   27      0.0  27.0  36.0      5.0   20.0   54.0  18.7877
361  2021     12   28      0.0  27.0  38.0      5.0   20.0   53.0  18.8049
362  2021     12   29      0.0  27.0  40.0      5.0   20.0   54.0  18.8222
363  2021     12   30      0.0  27.0  42.0      5.0   20.0   57.0  18.8395
364  2021     12   31      0.0  27.0  45.0      5.0   21.0    0.0  18.8567

[365 rows x 10 columns]

In [68]:
len(c21.index)

365

NameError: name 'distance' is not defined

In [89]:
c21_1 = pd.read_csv('Chiron_2021.csv',skiprows=[0,1])
len(c21_1)

503

In [101]:
c21_1['Time'] = [sa.degrees for i in range(1,504)]

In [102]:
c21_1

,Year,Month,Day,hour,min,sec,deg,min.1,sec.1,Mag.,AU,Unnamed: 11,Unnamed: 12,Time
0,2021,1.0,1.0,0.0,14.0,28.0,4.0,20.0,19.0,18.9,18.9395,12:20 until 16:05,Pisces,4.338611
1,2021,1.0,2.0,0.0,14.0,32.0,4.0,20.0,29.0,18.9,18.9568,12:21 until 16:01,Pisces,4.338611
2,2021,1.0,3.0,0.0,14.0,35.0,4.0,20.0,40.0,18.9,18.9740,12:21 until 15:57,Pisces,4.338611
3,2021,1.0,4.0,0.0,14.0,39.0,4.0,20.0,53.0,18.9,18.9912,12:22 until 15:54,Pisces,4.338611
4,2021,1.0,5.0,0.0,14.0,44.0,4.0,21.0,7.0,18.9,19.0083,12:23 until 15:50,Pisces,4.338611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2022,5.0,14.0,0.0,50.0,55.0,7.0,33.0,16.0,18.9,19.6412,Not observable,Pisces,4.338611
499,2022,5.0,15.0,0.0,51.0,6.0,7.0,34.0,24.0,18.9,19.6308,Not observable,Pisces,4.338611
500,All times computed for Gangtok (latitude 27.33...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611
501,Ephemeris computed by Dominic Ford.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611
502,<https://in-the-sky.org/>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611

In [4]:
skiprows=[0,1]
#skiprows.extend(range(365,507))
def hrs_deg(c):
    #hr, mins, sec = c.hour, c.min, c.sec
    #d, m, s = c.deg, c['min.1'], c['sec.1']
    ra=[]
    dec=[]
#     print(hr.dtype)
#     print(len(c))
    for i in range(len(c)):
#         print()
        rra=0
        ddec=0
        rra = ((c['hour'][i]*60*60)+(c['min'][0]*60)+(c['sec'][i]))/3600.0
#         print(rra)
        ddec = (c['deg'][i]*60*60+c['min.1'][i]*60+c['sec.1'][i])/3600.0
        ra.append(rra)
        dec.append(ddec)
    r = pd.Series(ra)
    d = pd.Series(dec)
    
    return r, d
def format_chiron_data(filename):
    c = pd.read_csv(filename, skiprows=skiprows)
    c = c.drop(['Mag.','Unnamed: 11','Unnamed: 12'], axis = 1)
    c = c.drop(range(365,503))
    #print(c)
    c.Year = c.Year.astype(int)
    c.Month = c.Month.astype(int)
    c.Day = c.Day.astype(int)
    #c['ra'] = 0.0 for i in range(0,365)
    #c['dec'] = 0.0 for i in range(0,365)
    c['ra'], c['dec'] = hrs_deg(c)
    c=c.drop(['hour','min','sec','deg','min.1','sec.1'], axis=1)
    
    return c

In [172]:
skiprows

[0, 1]

In [7]:
names=['Chiron_2018.csv','Chiron_2019.csv','Chiron_2020.csv']
year=['2018','2019','2020']
dicts = {}
for i,j in zip(names,year):
    ch=format_chiron_data(i)
    dicts[j]=ch
    print('done for the year:',j)
file = open('Chiron_eph18_20.pkl', 'ab')
pickle.dump( dicts, file )
file.close()

done for the year: 2018
done for the year: 2019
done for the year: 2020

In [168]:
c21_1['min'](2)

TypeError: 'Series' object is not callable

In [223]:
f1 = open('Chiron_2020_to_22.pkl', 'rb')
f2 = pickle.load(f1)

In [225]:
f2['2020']

     Year  Month  Day       AU        ra       dec
0    2020      1    1  18.9450  0.018611  3.306667
1    2020      1    2  18.9623  0.018611  3.310278
2    2020      1    3  18.9795  0.018611  3.314167
3    2020      1    4  18.9967  0.018611  3.318611
4    2020      1    5  19.0138  0.018611  3.323333
..    ...    ...  ...      ...       ...       ...
360  2020     12   26  18.8355  0.018611  4.329167
361  2020     12   27  18.8528  0.018611  4.329722
362  2020     12   28  18.8702  0.018611  4.330833
363  2020     12   29  18.8875  0.018611  4.332222
364  2020     12   30  18.9049  0.018611  4.333889

[365 rows x 6 columns]

In [1]:
ff[0]

NameError: name 'ff' is not defined