In [20]:
import pandas as pd
import numpy as np

In [23]:
txt = pd.read_csv('nodes.txt', header=None, delimiter=r"\s+")

In [24]:
txt

       0    1     2         3   4  5           6           7  8
0      1  Jan  2018  07:20:00  UT  |  135.048966  315.048966  |
1      2  Jan  2018  07:20:00  UT  |  134.990729  314.990729  |
2      3  Jan  2018  07:20:00  UT  |  134.944927  314.944927  |
3      4  Jan  2018  07:20:00  UT  |  134.915256  314.915256  |
4      5  Jan  2018  07:20:00  UT  |  134.902655  314.902655  |
...   ..  ...   ...       ...  .. ..         ...         ... ..
1091  27  Dec  2020  07:20:00  UT  |   79.711156  259.711156  |
1092  28  Dec  2020  07:20:00  UT  |   79.730233  259.730233  |
1093  29  Dec  2020  07:20:00  UT  |   79.730868  259.730868  |
1094  30  Dec  2020  07:20:00  UT  |   79.704881  259.704881  |
1095  31  Dec  2020  07:20:00  UT  |   79.649130  259.649130  |

[1096 rows x 9 columns]

In [32]:
nn, sn = list(txt[6]), list(txt[7])

In [34]:
Nodes = {
    'north_node' : nn,
    'south_node' : sn
}

In [35]:
nodepd = pd.DataFrame(Nodes, columns = ['north_node', 'south_node'])

In [37]:
nodepd.to_csv('Nodes.csv', index = None)

## Build a star

In [39]:
from skyfield.api import N, Star, W, load, wgs84

ts = load.timescale()
t = ts.now()
eph = load('de421.bsp')
earth = eph['earth']
boston = earth + wgs84.latlon(42.3583 * N, 71.0603 * W, elevation_m=43)
barnard = Star(ra_hours=(17, 57, 48.49803),
               dec_degrees=(4, 41, 36.2072))

In [40]:
barnard

Star(ra=269.4520751250001, dec=4.69339088888889, epoch=2451545.0)

In [54]:
from skyfield import api
from skyfield.api import wgs84

ts = api.load.timescale()
planets = api.load('de421.bsp')
earth = planets['earth']

antenna = earth + wgs84.latlon(27.3314,88.6138)

t = ts.utc(1998, 8, 11, 12,20)
direction = antenna.at(t).from_altaz(alt_degrees=0, az_degrees=90)

ra, dec, distance = direction.radec()
print(ra.hours*360/24)
print(dec)

323.3965729553894
+00deg 00' 19.9"