In [1]:
from skyfield.api import load, wgs84, Angle
import pickle
import pandas as pd

In [2]:
eph = load('de421.bsp')
ts = load.timescale()
time_p = ts.utc(2018, 1, range(1,365*3+2),12,20)

In [3]:
sun = eph['sun']
moon = eph['moon']
earth = eph['earth']
g = earth + wgs84.latlon(27.3314 , 88.6138)

In [4]:
gg = g.at(time_p)

In [5]:
suns = gg.observe(sun).apparent()
alts, azs, distances = suns.altaz()

In [21]:
moons = gg.observe(moon).apparent()
altm, azm, distancem = moons.altaz()

In [22]:
altitude = { 'sun': alts.degrees, 'moon': altm.degrees}
azimuth = { 'sun': azs.degrees, 'moon': azm.degrees}

In [23]:
altpd = pd.DataFrame(altitude, columns=['sun','moon'])
azpd = pd.DataFrame(azimuth, columns=['sun','moon'])

In [24]:
altpd.to_csv('Alti_sun_moon.csv', index=None)
azpd.to_csv('Azi_sun_moon.csv', index=None)

In [26]:
t = ts.utc(2018,9,3,12,20)
sunz = g.at(t).observe(sun).apparent()
altsz, azsz, distancesz = sunz.altaz()
print('Sun Alt:', altsz)
print('Sun Az:', azsz)
moonz = g.at(t).observe(moon).apparent()
altmz, azmz, distancemz = moonz.altaz()
print('Moon Alt:', altmz)
print('Moon Az:', azmz)

Sun Alt: 00deg 05' 16.3"
Sun Az: 278deg 21' 14.3"
Moon Alt: -44deg 33' 59.3"
Moon Az: 01deg 04' 13.9"