In [11]:
from natal_package import natal as nt

In [13]:
t, row, tsp =nt.get_angles()
p,a = nt.draw_chart(t, row, tsp)

Enter Date and Time
Year: 2020
month: 1
day: 1
hour: 1
minute:1
second: 1
Date :  A.D. 2020-Jan-01 01:01:01.0000 UTC
Enter Location
Latitude:1
Longitude:1
...1
...2
...3
...4
...5
        point     zodiac  zodiac_longitude house          RA
0         sun  Capricorn          9.778554    12  279.778554
1        moon     Pisces         15.735542        345.735542
2     mercury  Capricorn          4.175825    12  274.175825
3       venus   Aquarius         14.186001     2  314.186001
4        mars    Scorpio         28.139174    11  238.139174
5     jupiter  Capricorn          6.405376    12  276.405376
6      saturn  Capricorn         21.125073     1  291.125073
7      uranus     Taurus          2.418780     4   32.418780
8     neptune     Pisces         15.990396        345.990396
9       pluto  Capricorn         22.112113     1  292.112113
10      ceres  Capricorn         17.663897     1  287.663897
11  Ascendent  Capricorn         11.085094     1  281.085094
      body1    body2  shape degree_type    degree
0      moon      sun     60  Separating  5.956988
1   mercury      sun      0  Separating  5.602729
2   jupiter      sun      0  Separating  3.373177
3   jupiter     moon     60  Separating  9.330165
4   jupiter  mercury      0  Separating  2.229552
5    saturn     moon     60    Applying  5.389532
6    saturn     mars     60    Applying  7.014100
7    uranus      sun    120  Separating  7.359774
8    uranus  mercury    120  Separating  1.757045
9    uranus  jupiter    120  Separating  3.986596
10  neptune      sun     60  Separating  6.211842
11  neptune     moon      0  Separating  0.254854
12  neptune  jupiter     60  Separating  9.585020
13  neptune   saturn     60    Applying  5.134677
14    pluto     moon     60    Applying  6.376571
15    pluto     mars     60    Applying  6.027061
16    pluto   saturn      0  Separating  0.987039
17    pluto  neptune     60    Applying  6.121717
18    ceres      sun      0  Separating  7.885343
19    ceres     moon     60    Applying  1.928355
20    ceres   saturn      0  Separating  3.461177
21    ceres  neptune     60    Applying  1.673500
22    ceres    pluto      0  Separating  4.448216

TypeError: cannot unpack non-iterable NoneType object

#