In [21]:
from skyfield.api import load, wgs84, Angle
import pickle
import pandas as pd
import numpy as np

In [11]:
eph = load('de421.bsp')
ts = load.timescale()
time_p = ts.utc(2018, 1, range(1,365*3+2),12,20)

In [12]:
sun = eph['sun']
moon = eph['moon']
earth = eph['earth']
pluto = eph['pluto barycenter']
g = earth + wgs84.latlon(27.3314 , 88.6138)

In [13]:
gg = g.at(time_p)

In [16]:
suns = gg.observe(sun).apparent()
ras, decs, distances = suns.radec()

In [17]:
moons = gg.observe(moon).apparent()
ram, decm, distancem = moons.radec()

In [18]:
plutos = gg.observe(pluto).apparent()
rap, decp, distancep = plutos.radec()

In [25]:
rasun =[]
ramoon =[]
rapluto = []
for i,j,k in zip(rap.hours,ras.hours,ram.hours):
    rapluto.append(i* 360/24)
    rasun.append(j* 360/24)
    ramoon.append(k* 360/24)

In [29]:
RA = { 'pluto':rapluto, 'sun': rasun, 'moon': ramoon }
DEC = { 'pluto':decp.degrees, 'sun': decs.degrees, 'moon': decs.degrees}

In [30]:
rapd = pd.DataFrame(RA, columns=['pluto','sun','moon'])
decpd = pd.DataFrame(DEC, columns=['pluto','sun','moon'])

In [32]:
decpd

          pluto        sun       moon
0    -21.705705 -23.000189 -23.000189
1    -21.702643 -22.913992 -22.913992
2    -21.699561 -22.820192 -22.820192
3    -21.696459 -22.718835 -22.718835
4    -21.693338 -22.609969 -22.609969
...         ...        ...        ...
1091 -22.519972 -23.305258 -23.305258
1092 -22.515690 -23.255831 -23.255831
1093 -22.511387 -23.198640 -23.198640
1094 -22.507063 -23.133712 -23.133712
1095 -22.502721 -23.061082 -23.061082

[1096 rows x 3 columns]

In [33]:
rapd.to_csv('RA_sun_moon_pluto.csv', index=None)
decpd.to_csv('dec_sun_moon_pluto.csv', index=None)

In [8]:
t = ts.utc(1930,2,3,2,33)
sunz = g.at(t).observe(sun).apparent()
altsz, azsz, distancesz = sunz.radec()
print('Sun ra:', altsz.hours*360/24)
print('Sun dec:', azsz)
moonz = g.at(t).observe(moon).apparent()
altmz, azmz, distancemz = moonz.radec()
print('Moon ra:', altmz.hours*360/24)
print('Moondec:', azmz)

Sun ra: 316.9989244029645
Sun dec: -16deg 28' 49.8"
Moon ra: 3.870959509490717
Moondec: -02deg 14' 33.7"

In [9]:
moonz = sun.at(t).observe(moon).apparent()
altmz, azmz, distancemz = moonz.radec()
print('Moon ra:', altmz.hours*360/24)
print('Moondec:', azmz)

Moon ra: 222.5661041843808
Moondec: -14deg 14' 51.0"