In [4]:
from natal_package import natal as nt
import cv2 as cv

In [2]:
t, row, tsp =nt.get_angles()
p,a, i, g = nt.draw_chart(t, row, tsp)

Enter Date and Time
Year: 2020
month: 1
day: 1
hour: 1
minute:1
second: 1
Date :  A.D. 2020-Jan-01 01:01:01.0000 UTC
Enter Location
Latitude:1
Longitude:1
...1
...2
...3
...4
...5

In [5]:
cv.imshow('Aspect_grid',i)
cv.imshow('Natal_Chart', g)
cv.waitKey(0)
cv.destroyAllWindows()

In [5]:
a

[['moon', 'sun', 60, 'Separating', 6.887713017200042],
 ['mercury', 'sun', 0, 'Separating', 5.6032942066713645],
 ['jupiter', 'sun', 0, 'Separating', 3.37430930130688],
 ['jupiter', 'mercury', 0, 'Separating', 2.2289849053644843],
 ['saturn', 'moon', 60, 'Applying', 4.45762728531156],
 ['saturn', 'mars', 60, 'Applying', 7.013739406056658],
 ['uranus', 'sun', 120, 'Separating', 7.361208563251324],
 ['uranus', 'mercury', 120, 'Separating', 1.7579143565799598],
 ['uranus', 'jupiter', 120, 'Separating', 3.986899261944444],
 ['neptune', 'sun', 60, 'Separating', 6.210495677153631],
 ['neptune', 'moon', 0, 'Separating', 0.6772173400464112],
 ['neptune', 'jupiter', 60, 'Separating', 9.584804978460511],
 ['neptune', 'saturn', 60, 'Applying', 5.134844625357971],
 ['pluto', 'moon', 60, 'Applying', 5.444560113355806],
 ['pluto', 'mars', 60, 'Applying', 6.026806578012412],
 ['pluto', 'saturn', 0, 'Separating', 0.986932828044246],
 ['pluto', 'neptune', 60, 'Applying', 6.121777453402217],
 ['ceres', 'sun', 0, 'Separating', 7.884325513012982],
 ['ceres', 'moon', 60, 'Applying', 0.9966124958129399],
 ['ceres', 'saturn', 0, 'Separating', 3.46101478949862],
 ['ceres', 'neptune', 60, 'Applying', 1.673829835859351],
 ['ceres', 'pluto', 0, 'Separating', 4.447947617542866]]

In [ ]:
df.insert(2, "Age", [21, 23, 24, 21], True)