# Minor planet Distances

In [86]:
from skyfield.api import load, Angle
from skyfield.data import mpc
from skyfield.constants import GM_SUN_Pitjeva_2005_km3_s2 as GM_SUN
import pickle

In [16]:
eph = load('de421.bsp')
sun, earth = eph['sun'], eph['earth']
ts= load.timescale()

# Ceres

In [6]:
with load.open('MPCORB.excerpt.DAT') as f:
    minor_planets = mpc.load_mpcorb_dataframe(f)

print(minor_planets.shape[0], 'minor planets loaded')

4 minor planets loaded

In [14]:
row_ceres=minor_planets.iloc[0]

In [22]:
t=ts.utc(2021,1,range(1,366))

In [23]:

ceres = sun + mpc.mpcorb_orbit(row, ts, GM_SUN)
ra, dec, distance = earth.at(t).observe(ceres).radec()
print(ra)
print(dec)
print(distance)

365 values from 23h 07m 18.44s to 03h 46m 43.89s
365 values from -15deg 49' 52.7" to +17deg 40' 42.7"
[3.29707306 3.30900922 3.3208625  3.33263142 3.3443145  3.35591015
 3.36741673 3.37883255 3.39015583 3.40138476 3.41251751 3.42355226
 3.43448725 3.44532078 3.45605125 3.46667719 3.47719721 3.48761006
 3.49791455 3.50810957 3.51819409 3.52816713 3.53802777 3.54777514
 3.55740843 3.56692686 3.57632969 3.58561624 3.5947858  3.60383769
 3.61277118 3.62158548 3.63027976 3.63885308 3.64730444 3.65563276
 3.66383692 3.67191574 3.67986808 3.68769276 3.69538868 3.7029548
 3.71039016 3.71769388 3.7248652  3.73190344 3.73880801 3.74557837
 3.75221407 3.75871472 3.76507996 3.7713095  3.77740309 3.78336053
 3.78918164 3.7948663  3.80041439 3.80582579 3.81110036 3.81623788
 3.82123806 3.8261005  3.83082472 3.83541014 3.83985614 3.84416208
 3.84832731 3.85235119 3.85623315 3.85997267 3.86356929 3.86702266
 3.87033246 3.8734985  3.87652064 3.87939881 3.88213301 3.88472329
 3.88716974 3.88947253 3.89163183 3.89364788 3.89552097 3.89725138
 3.89883946 3.90028552 3.90158987 3.90275275 3.90377431 3.90465457
 3.90539346 3.90599081 3.90644637 3.90675986 3.90693103 3.90695964
 3.90684549 3.90658846 3.90618849 3.90564557 3.90495978 3.90413125
 3.90316019 3.90204688 3.90079164 3.89939485 3.89785694 3.89617839
 3.89435973 3.8924015  3.89030431 3.88806877 3.88569554 3.88318527
 3.88053857 3.87775602 3.87483811 3.87178519 3.86859751 3.86527519
 3.86181826 3.85822674 3.85450063 3.85063997 3.84664485 3.84251541
 3.83825187 3.8338545  3.82932363 3.82465968 3.8198631  3.8149344
 3.80987415 3.804683   3.79936161 3.79391071 3.78833107 3.78262351
 3.77678885 3.77082798 3.76474178 3.75853114 3.75219693 3.74573997
 3.739161   3.73246064 3.7256394  3.71869765 3.71163568 3.70445373
 3.69715203 3.68973083 3.68219044 3.67453124 3.66675367 3.65885822
 3.65084546 3.64271602 3.63447057 3.62610986 3.61763467 3.60904586
 3.60034434 3.59153108 3.58260707 3.57357337 3.56443108 3.55518131
 3.54582518 3.53636384 3.52679838 3.51712986 3.50735928 3.49748752
 3.48751534 3.47744341 3.46727229 3.45700248 3.44663448 3.4361688
 3.42560602 3.41494675 3.40419172 3.39334168 3.38239747 3.37136
 3.36023023 3.34900917 3.33769792 3.32629762 3.31480949 3.3032348
 3.29157489 3.27983116 3.26800503 3.25609798 3.24411148 3.23204701
 3.21990601 3.2076899  3.19540001 3.18303758 3.17060375 3.15809959
 3.14552607 3.13288411 3.12017462 3.10739855 3.09455687 3.08165066
 3.06868103 3.0556492  3.04255647 3.02940418 3.01619377 3.00292676
 2.98960471 2.97622928 2.96280221 2.9493253  2.93580046 2.92222964
 2.90861488 2.89495824 2.88126181 2.86752766 2.85375786 2.83995442
 2.82611927 2.81225428 2.79836125 2.7844419  2.77049792 2.75653094
 2.74254263 2.72853468 2.71450883 2.70046692 2.68641087 2.67234268
 2.65826446 2.64417841 2.63008683 2.61599208 2.60189664 2.58780308
 2.57371406 2.55963236 2.54556085 2.53150249 2.51746035 2.50343754
 2.4894372  2.47546249 2.46151651 2.44760234 2.43372298 2.41988137
 2.40608042 2.39232298 2.3786119  2.36495002 2.35134024 2.3377855
 2.3242888  2.31085328 2.29748214 2.28417869 2.27094638 2.25778874
 2.24470942 2.23171217 2.21880085 2.2059794  2.19325192 2.18062258
 2.16809568 2.15567561 2.14336685 2.13117396 2.11910148 2.10715395
 2.09533586 2.08365157 2.07210541 2.06070156 2.04944419 2.03833741
 2.0273853  2.01659195 2.00596148 1.99549803 1.98520578 1.97508898
 1.96515192 1.95539896 1.94583449 1.93646299 1.92728894 1.91831689
 1.90955138 1.90099701 1.89265838 1.88454009 1.87664676 1.86898301
 1.86155338 1.85436237 1.84741436 1.84071351 1.83426381 1.82806895
 1.8221324  1.81645737 1.81104688 1.80590374 1.80103065 1.79643015
 1.79210464 1.78805643 1.7842877  1.7808005  1.77759679 1.7746784
 1.77204702 1.76970423 1.76765147 1.76589005 1.7644211  1.76324563
 1.76236448 1.76177831 1.76148762 1.76149271 1.76179368 1.76239039
 1.76328243 1.76446905 1.76594916 1.76772131 1.7697837  1.77213421
 1.77477049 1.77768998 1.78088993 1.78436751 1.78811972 1.79214348
 1.79643561 1.80099285 1.80581182 1.8108891  1.81622119 1.8218045
 1.8276354  1.83371022 1.84002518 1.8465765  1.85336031 1.8603727
 1.86760966 1.87506715 1.88274103 1.89062704 1.8987208 ] au

In [28]:
Angle(hours=ra.hours[0])

In [31]:
t[0].utc_jpl()

'A.D. 2021-Jan-01 00:00:00.0000 UTC'

In [39]:
ceres={'ra':ra, 'dec':dec , 'distance':distance, 'time_p':t}

In [46]:
file1 = open('ceres_dist_angle.pkl', 'ab')
pickle.dump(ceres, file1)

In [41]:
ra

In [44]:
ceres['time_p'][0].utc_jpl()

'A.D. 2021-Jan-01 00:00:00.0000 UTC'

# Chiron

In [1]:
import pandas as pd
import numpy as np

In [56]:
c21 = pd.read_csv('Chiron_2021.csv',skiprows=[0,1])

In [57]:
c21= c21.drop(['Mag.','Unnamed: 11','Unnamed: 12'], axis=1)

In [58]:
c21.loc[364]

Year        2021
Month         12
Day           31
hour           0
min           27
sec           45
deg            5
min.1         21
sec.1          0
AU       18.8567
Name: 364, dtype: object

In [59]:
c21.shape

(503, 10)

In [60]:
c21= c21.drop(range(365,503))

In [61]:
c21=c21.rename(columns={'hour':'ra.hour', 'deg':'dec.deg'})

In [62]:
c21

     Year  Month   Day  ra.hour   min   sec  dec.deg  min.1  sec.1       AU
0    2021    1.0   1.0      0.0  14.0  28.0      4.0   20.0   19.0  18.9395
1    2021    1.0   2.0      0.0  14.0  32.0      4.0   20.0   29.0  18.9568
2    2021    1.0   3.0      0.0  14.0  35.0      4.0   20.0   40.0  18.9740
3    2021    1.0   4.0      0.0  14.0  39.0      4.0   20.0   53.0  18.9912
4    2021    1.0   5.0      0.0  14.0  44.0      4.0   21.0    7.0  19.0083
..    ...    ...   ...      ...   ...   ...      ...    ...    ...      ...
360  2021   12.0  27.0      0.0  27.0  36.0      5.0   20.0   54.0  18.7877
361  2021   12.0  28.0      0.0  27.0  38.0      5.0   20.0   53.0  18.8049
362  2021   12.0  29.0      0.0  27.0  40.0      5.0   20.0   54.0  18.8222
363  2021   12.0  30.0      0.0  27.0  42.0      5.0   20.0   57.0  18.8395
364  2021   12.0  31.0      0.0  27.0  45.0      5.0   21.0    0.0  18.8567

[365 rows x 10 columns]

In [38]:
s = (4*60*60 + 20*60 + 19)/(60*60)

In [39]:
s

4.338611111111111

In [106]:
sa=Angle(degrees=s)
sa.degrees

4.338611111111111

In [80]:
Angle.hms()

TypeError: hms() missing 1 required positional argument: 'self'

In [41]:
r = (0*60*60 + 14*60 + 28)/(60*60)
Angle(hours = r)

In [42]:
c21.dtypes

Year        object
Month      float64
Day        float64
ra.hour    float64
min        float64
sec        float64
dec.deg    float64
min.1      float64
sec.1      float64
AU         float64
dtype: object

In [65]:
c21.Year = c21.Year.astype(int)
c21.Month = c21.Month.astype(int)
c21.Day = c21.Day.astype(int)

In [66]:
c21

     Year  Month  Day  ra.hour   min   sec  dec.deg  min.1  sec.1       AU
0    2021      1    1      0.0  14.0  28.0      4.0   20.0   19.0  18.9395
1    2021      1    2      0.0  14.0  32.0      4.0   20.0   29.0  18.9568
2    2021      1    3      0.0  14.0  35.0      4.0   20.0   40.0  18.9740
3    2021      1    4      0.0  14.0  39.0      4.0   20.0   53.0  18.9912
4    2021      1    5      0.0  14.0  44.0      4.0   21.0    7.0  19.0083
..    ...    ...  ...      ...   ...   ...      ...    ...    ...      ...
360  2021     12   27      0.0  27.0  36.0      5.0   20.0   54.0  18.7877
361  2021     12   28      0.0  27.0  38.0      5.0   20.0   53.0  18.8049
362  2021     12   29      0.0  27.0  40.0      5.0   20.0   54.0  18.8222
363  2021     12   30      0.0  27.0  42.0      5.0   20.0   57.0  18.8395
364  2021     12   31      0.0  27.0  45.0      5.0   21.0    0.0  18.8567

[365 rows x 10 columns]

In [68]:
len(c21.index)

365

NameError: name 'distance' is not defined

In [89]:
c21_1 = pd.read_csv('Chiron_2021.csv',skiprows=[0,1])
len(c21_1)

503

In [101]:
c21_1['Time'] = [sa.degrees for i in range(1,504)]

In [102]:
c21_1

,Year,Month,Day,hour,min,sec,deg,min.1,sec.1,Mag.,AU,Unnamed: 11,Unnamed: 12,Time
0,2021,1.0,1.0,0.0,14.0,28.0,4.0,20.0,19.0,18.9,18.9395,12:20 until 16:05,Pisces,4.338611
1,2021,1.0,2.0,0.0,14.0,32.0,4.0,20.0,29.0,18.9,18.9568,12:21 until 16:01,Pisces,4.338611
2,2021,1.0,3.0,0.0,14.0,35.0,4.0,20.0,40.0,18.9,18.9740,12:21 until 15:57,Pisces,4.338611
3,2021,1.0,4.0,0.0,14.0,39.0,4.0,20.0,53.0,18.9,18.9912,12:22 until 15:54,Pisces,4.338611
4,2021,1.0,5.0,0.0,14.0,44.0,4.0,21.0,7.0,18.9,19.0083,12:23 until 15:50,Pisces,4.338611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2022,5.0,14.0,0.0,50.0,55.0,7.0,33.0,16.0,18.9,19.6412,Not observable,Pisces,4.338611
499,2022,5.0,15.0,0.0,51.0,6.0,7.0,34.0,24.0,18.9,19.6308,Not observable,Pisces,4.338611
500,All times computed for Gangtok (latitude 27.33...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611
501,Ephemeris computed by Dominic Ford.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611
502,<https://in-the-sky.org/>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.338611

In [ ]:
skiprows=[0,1]
skiprows.extend(range(365,503))
def format_chiron_data(filename):
    
    c = pd.read_csv(filename, skiprows=skiprows)
    c.drop(['Mag.','Unnamed: 11','Unnamed: 12'], axis = 1)
    c.Year = c.Year.astype(int)
    c.Month = c.Month.astype(int)
    c.Day = c.Day.astype(int)
    c['ra'] = 0.0 for i in range(0,365)
    c['dec'] = 0.0 for i in range(0,365)