# Loading satellites to program

In [1]:
from skyfield.api import load, wgs84

stations_url = 'http://celestrak.com/NORAD/elements/stations.txt'
satellites = load.tle_file(stations_url)
print('Loaded', len(satellites), 'satellites')

[#################################] 100% stations.txt

Loaded 69 satellites

# making a dictionary with name as their key

In [3]:

by_name = {sat.name: sat for sat in satellites}

In [25]:
# Lookup by name
satellite = by_name['ISS (ZARYA)']
print(satellite)

ISS (ZARYA) catalog #25544 epoch 2021-01-20 05:38:49 UTC

# Making their number as key

In [19]:
by_number = {sat.model.satnum: sat for sat in satellites}
satellite = by_number[25544]
print(satellite)

ISS (ZARYA) catalog #25544 epoch 2021-01-20 05:38:49 UTC

# Perform queries

In [16]:
n = 25544 #Satllite number
url = 'https://celestrak.com/satcat/tle.php?CATNR={}'.format(n)
filename = 'tle-CATNR-{}.txt'.format(n)
satellites = load.tle_file(url, filename=filename, reload=True)
print(satellites)

[#################################] 100% tle-CATNR-25544.txt

[<EarthSatellite ISS (ZARYA) catalog #25544 epoch 2021-01-20 05:38:49 UTC>]

In [20]:
print(satellite.epoch.utc_jpl())

A.D. 2021-Jan-20 05:38:49.3230 UTC

# Loading form Strings

In [22]:
from skyfield.api import EarthSatellite

ts = load.timescale()
line1 = '1 25544U 98067A   14020.93268519  .00009878  00000-0  18200-3 0  5082'
line2 = '2 25544  51.6498 109.4756 0003572  55.9686 274.8005 15.49815350868473'
satellite = EarthSatellite(line1, line2, 'ISS (ZARYA)', ts)
print(satellite)

ISS (ZARYA) catalog #25544 epoch 2014-01-20 22:23:04 UTC

## Checking epoch

In [27]:
print(satellite.epoch.utc_jpl())

A.D. 2021-Jan-20 05:38:49.3230 UTC

## Rise and set of satellite

In [38]:
bluffton = wgs84.latlon(+27.3314, +88.6138)
t0 = ts.utc(2021, 1, 20)
t1 = ts.utc(2021, 1, 21)
t, events = satellite.find_events(bluffton, t0, t1, altitude_degrees=30.0)
for ti, event in zip(t, events):
    name = ('rise above 30°', 'culminate', 'set below 30°')[event]
    print(ti.utc_strftime('%Y %b %d %H:%M:%S'), name)

2021 Jan 20 11:25:36 rise above 30°
2021 Jan 20 11:27:01 culminate
2021 Jan 20 11:28:27 set below 30°
2021 Jan 20 19:36:58 rise above 30°
2021 Jan 20 19:38:20 culminate
2021 Jan 20 19:39:42 set below 30°