In [14]:
from skyfield.api import PlanetaryConstants, load
from skyfield.timelib import Time

In [3]:

ts = load.timescale()
tn=ts.now()
t = ts.utc(2019, 12, 20, 11, 5)

In [4]:
eph = load('de421.bsp')
earth, moon = eph['earth'], eph['moon']

pc = PlanetaryConstants()
pc.read_text(load('moon_080317.tf'))
pc.read_text(load('pck00008.tpc'))
pc.read_binary(load('moon_pa_de421_1900-2050.bpc'))

[#################################] 100% moon_080317.tf
[#################################] 100% pck00008.tpc
[#################################] 100% moon_pa_de421_1900-2050.bpc

In [5]:
frame = pc.build_frame_named('MOON_ME_DE421')
aristarchus = moon + pc.build_latlon_degrees(frame, 26.3, -46.8)

# From earth to moon

In [28]:
apparent = earth.at(t).observe(aristarchus).apparent()  # use time 't' for 20/12/1019 and 'tn' for time now
ra, dec, distance = apparent.radec(epoch='date')

In [29]:
# time 20/12/2019 (E2M)
print(ra)
print(dec)
d=str(distance)
print(float(d[:-2])*149597870.7, 'KM')

13h 03m 22.96s
-00deg 55' 27.3"
369880.7353057499 KM

In [25]:
# time now (E2M)
print(ra)
print(dec)
d=str(distance)
print(float(d[:-2])*149597870.7, 'KM')

01h 35m 13.23s
+05deg 27' 10.5"
402237.25875945296 KM

# From moon to earth

In [33]:
apparent = aristarchus.at(tn).observe(earth).apparent()   # use time 't' for 20/12/1019 and 'tn' for time now
ra, dec, distance = apparent.radec(epoch='date')

In [32]:
# time 20/12/2019 (M2E)
print(ra)
print(dec)
d=str(distance)
print(float(d[:-2])*149597870.7, 'KM')

01h 03m 22.96s
+00deg 55' 27.3"
369952.542283686 KM

In [34]:
# time now (M2E)
print(ra)
print(dec)
d=str(distance)
print(float(d[:-2])*149597870.7, 'KM')

13h 35m 13.23s
-05deg 27' 10.5"
402156.475909275 KM

In [26]:
d

'0.00268879 au'

In [27]:
0.00268879*149597870.7

402237.25875945296

## altitude and azimuth measured against the astronaut’s horizon

In [36]:
# from moon to earth
alt, az, distance = apparent.altaz()
print(alt, 'degrees above the horizon')
print(az, 'degrees around the horizon from north')

38deg 47' 25.2" degrees above the horizon
105deg 10' 37.7" degrees around the horizon from north

# Sub-Solar points on the moon

In [43]:
sun = eph['Sun']

p = moon.at(t).observe(sun).apparent()
lat, lon, distance = p.frame_latlon(frame)
lon_degrees = (lon.degrees + 180.0) % 360.0 - 180.0
print('Sub-solar latitude: {:.1f} degrees'.format(lat.degrees))
print('Sub-solar longitude: {:.1f} degrees'.format(lon_degrees))

Sub-solar latitude: 0.3 degrees
Sub-solar longitude: -104.9 degrees

# Lunar Liberation

In [41]:
p = (earth - moon).at(t)
lat, lon, distance = p.frame_latlon(frame)
lon_degrees = (lon.degrees + 180.0) % 360.0 - 180.0
print('Libration in latitude: {:.3f}'.format(lat.degrees))
print('Libration in longitude: {:.3f}'.format(lon_degrees))

Libration in latitude: -6.749
Libration in longitude: 1.520

# Computing a raw rotation matrix¶

In [44]:
R = frame.rotation_at(t)
print(R.shape)

(3, 3)

In [45]:
t = ts.utc(2019, 12, 20, 11, range(5, 15))
R = frame.rotation_at(t)
print(t.shape)
print(R.shape)

(10,)
(3, 3, 10)